<section id="vakanties" class="grid">

  <div class="vakanties-seizoen-container">
    <figure class="vakanties-seizoen effect-julia">
      <img src="/assets/images/reizen/zomer/kroatie.jpg" alt="reis naar kroatië"/>
      <figcaption>
        <h2>Kroatië</h2>
        <div class="doelgroep">
          <span class="doelgroep-15">15</span>
          <span class="doelgroep-16">16</span>
          <span class="doelgroep-17">17</span>
          <span class="doelgroep-18">18</span>
        </div>

        <!-- on hover -->
        <div>
          <p><span>Vrijdag 17 Juli 2015</span></p>
          <p><span>Dinsdag 28 juli 2015</span></p>
          <p><span>Krk (Kroatië)</span></p>
        </div>
        <a href="#">Details</a>
      </figcaption>
    </figure>
  </div>

  <aside>

    <div class="vakanties-seizoen-container">
      <figure class="vakanties-seizoen effect-julia">
        <img src="/assets/images/reizen/zomer/spanje.jpg" alt="reis naar spanje"/>
        <figcaption>
          <h2>Spanje</h2>
          <div class="doelgroep">
            <span class="doelgroep-12">12</span>
            <span class="doelgroep-13">13</span>
            <span class="doelgroep-14">14</span>
            <span class="doelgroep-15">15</span>
          </div>
          <a href="#">Details</a>
        </figcaption>
      </figure>
    </div>

    <div class="vakanties-seizoen-container">
      <figure class="vakanties-seizoen effect-julia">
        <img src="/assets/images/reizen/zomer/hongarije.jpg" alt="reis naar hongarijë"/>
        <figcaption>
          <h2>Hongarijë</h2>
          <div class="doelgroep">
            <span class="doelgroep-13">13</span>
            <span class="doelgroep-14">14</span>
            <span class="doelgroep-15">15</span>
          </div>
          <a href="#">Details</a>
        </figcaption>
      </figure>
    </div>

  </aside>
</section>

<section id="vakanties-andere">
  <div class="btn-group-justified">
    <ul>
      <li><a href="#" class="btn">Winter vakanties</a></li>
      <li><a href="#" class="btn">Herfst vakanties</a></li>
      <li><a href="#" class="btn">Lente vakanties</a></li>
    </ul>
  </div>
</section>
