<section id="vakanties" class="grid">

  <aside id="vakanties-sort" class="container">
    <div class="container-filter">

      <div id="filter-seizoen">
        <button class="season season-winter" ng-click="setVakantie('wintervakantie')" ng-class="{active: filter.vakantie == 'wintervakantie'}">Winter vakantie</button>
        <button class="season season-lente" ng-click="setVakantie('krokusvakantie')" ng-class="{active: filter.vakantie == 'krokusvakantie'}">Krokus vakantie</button>
        <button class="season season-zomer" ng-click="setVakantie('zomervakantie')" ng-class="{active: filter.vakantie == 'zomervakantie'}">Zomer vakantie</button>
        <button class="season season-herfst" ng-click="setVakantie('herfstvakantie')" ng-class="{active: filter.vakantie == 'herfstvakantie'}">Herfst vakantie</button>
      </div>

      <ul class="doelgroepen filter">
        <li ng-class="{'doelgroep-{{ i }}': filter.leeftijden.indexOf(i) > -1}" ng-click="toggleLeeftijd(i)" ng-repeat="i in [] | range:3:18">{{ i }}</li>
      </ul>

    </div>
  </aside>

  <div class="vakanties-seizoen-container vakantie-big" ng-show="eersteKamp != null">
    <figure class="vakanties-seizoen effect-julia">
      <img src="/assets/images/reizen/{{ eersteKamp.promoAfbeelding }}" alt="reis naar {{ eersteKamp.locatie }}"/>
      <figcaption>
        <h2>{{ eersteKamp.naam }}</h2>
        <ul class="doelgroepen">
          <li class="doelgroep-{{ doelgroep }}" ng-repeat="doelgroep in eersteKamp.doelgroepen">{{ doelgroep }}</li>
        </ul>

        <!-- on hover -->
        <div>
          <p><span>&euro;{{ eersteKamp.prijs}}</span></p>
          <p><span>{{ eersteKamp.locatie }}</span></p>
        </div>
        <a href="/kampen/{{ eersteKamp._id }}">Details</a>
      </figcaption>
    </figure>
  </div>

  <div class="vakantie-aside">

    <div class="vakanties-seizoen-container" ng-repeat="kamp in kampen | slice:1:3">

      <figure class="vakanties-seizoen effect-julia">
        <img src="/assets/images/reizen/{{ kamp.promoAfbeelding }}" alt="reis naar {{ kamp.locatie }}"/>
        <figcaption>
          <h2>{{ kamp.naam }}</h2>
          <ul class="doelgroepen">
            <li class="doelgroep-{{ doelgroep }}" ng-repeat="doelgroep in kamp.doelgroepen">{{ doelgroep }}</li>
          </ul>
          <a href="/kampen/{{ kamp._id }}">Details</a>
        </figcaption>
      </figure>

    </div>

  </div>

  <div id="vakanties-lijst" class="isotope">

    <div class="vakanties-seizoen-container isotope-item" ng-repeat="kamp in kampen | slice:3">
      <figure class="vakanties-seizoen effect-julia">
        <img src="/assets/images/reizen/{{ kamp.promoAfbeelding }}" alt="reis naar {{ kamp.locatie }}"/>
        <figcaption>
          <h2>{{ kamp.naam }}</h2>
          <ul class="doelgroepen">
            <li class="doelgroep-{{ doelgroep }}" ng-repeat="doelgroep in kamp.doelgroepen">{{ doelgroep }}</li>
          </ul>
          <a href="/kampen/{{ kamp._id }}">Details</a>
        </figcaption>
      </figure>
    </div>

  </div>

</section>



<!--<section id="vakanties-andere">-->
  <!--<div class="btn-group-justified">-->
    <!--<ul>-->
      <!--<li><a href="#" class="btn">Winter vakanties</a></li>-->
      <!--<li><a href="#" class="btn">Herfst vakanties</a></li>-->
      <!--<li><a href="#" class="btn">Lente vakanties</a></li>-->
      <!--<li><a href="#" class="btn">Zomer vakanties</a></li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</section>-->
