<div class="container">
    <section>
        <article class="article-holder" ng-repeat="kamp in kampen | filter:query">
            <div id="promoafb">
                <a href="/kampen/{{ kamp._id }}">
                    <img height="150" width="200" alt="reis naar {{ kamp.locatie }}" src="../assets/images/reizen/{{kamp.promoAfbeelding}}" />
                </a>
            </div>

            <div id="kamptekst">
                <h2><a href="/kampen/{{ kamp._id }}">{{ kamp.naam }}</a></h2>
                <div>Leeftijdscategorie: {{kamp.doelgroepen[0]}} - {{kamp.doelgroepen[kamp.doelgroepen.length -1]}} jaar</div>
                <div>Prijs: €{{kamp.prijs}}</div>
                <div>Locatie: {{kamp.locatie}}</div>
                <div>{{kamp.inschrijving}}</div>
            </div>
        </article>
    </section>
</div>
