<div class="container">

    <h1>Ingeschreven kampen</h1>
    <ul id="imagebuttons" class="article-holder" ng-repeat="kamp in kampen | filter:query">
        <li>
            <div id="fototitle">{{ kamp.naam }}</div>
            <div id="promoafb">
                <a href="/kampen/{{ kamp._id }}">
                    <img id="promoafbeelding" height="200" width="250" alt="reis naar {{ kamp.locatie }}"
                         src="../assets/images/reizen/{{kamp.promoAfbeelding}}"/>
                </a>
            </div>
        </li>


        <!--<div id="kamptekst">
            <h2><a href="/kampen/{{ kamp._id }}">{{ kamp.naam }}</a></h2>

            <div>Leeftijdscategorie: {{kamp.doelgroepen[0]}} - {{kamp.doelgroepen[kamp.doelgroepen.length -1]}} jaar
            </div>
            <div>Prijs: €{{kamp.prijs}}</div>
            <div>Locatie: {{kamp.locatie}}</div>
        </div>-->
    </ul>
</div>
