<div class="container">
    <section id="test">

        <div id="sidepanel">
            <h2>
                {{kamp.doelgroepen[0]}} - {{kamp.doelgroepen[kamp.doelgroepen.length -1]}} jaar
            </h2>
        </div>

        <div id="details">
            <div>
                <h2>{{ kamp.naam }}</h2>

                <div>
                    {{kamp.startDatum | date : 'dd-M-yyyy'}} - {{kamp.eindDatum | date : 'dd-M-yyyy'}}
                </div>


                <p ng-bind-html="kamp.beschrijving"></p>

                <h3>Extra informatie</h3>
                <ul>
                    <li>Locatie: {{kamp.locatie}}</li>
                    <li>Vervoer: {{kamp.vervoer}}</li>
                    <li>Prijs: €{{kamp.prijs}}</li>
                    <li>Korting: €{{kamp.korting}}</li>
                    <li>Contact: {{kamp.contact}}</li>
                </ul>
                <div>
                    <button id="inschrijven" ng-click="inschrijven(kamp.id)" class="btn btn-blue">Inschrijven</button>
                </div>
            </div>
        </div>

    </section>
</div>



