<section>
    <div>
        <h2>{{ kamp.naam }}</h2>

        <p ng-bind-html="kamp.beschrijving"></p>
        <p>
            <h3>Locatie:</h3>

             {{kamp.locatie}}
        </p>
        <p>
        <h3>Periode:</h3>
            {{kamp.startDatum | date : 'fullDate'}} - {{kamp.eindDatum | date : 'fullDate'}}
        </p>
        <p>
        <h3>Vervoer:</h3>
            {{kamp.vervoer}}
        </p>
        <p>
        <h3>Leeftijds categorie:</h3>
            {{kamp.leeftijdsCatDoelgroep}}
        </p>
        <p>
        <h3>Prijs:</h3>
            €{{kamp.prijs}}
        </p>
        <p>
        <h3>Korting:</h3>
            €{{kamp.korting}}
        </p>
        <p>
        <h3>Contact:</h3>
            {{kamp.contact}}
        </p>

        <button ng-click="inschrijven(kamp.id)">Inschrijven</button>
    </div>
</section>
