<div class="container">
  <wizard on-finish="finishedWizard()" class="wizard">

    <wz-step title="1. Lidmaatschap" class="wz-step">
      <h1>Lidmaatschap</h1>

      <div class="form-group">
        <label for="periode">Periode</label>
        <select id="periode" ng-model="inschrijving.periode">
          <option value="{{ periode.startDatum}}|{{periode.eindDatum }}" ng-repeat="periode in kamp.periodes">{{ periode.startDatum | date : 'dd-MM-yyyy' }} - {{ periode.eindDatum | date : 'dd-MM-yyyy' }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="aansluitingsnummer">Aansluitingsnummer</label>
        <input type="text" id="aansluitingsnummer" name="aansluitingsnummer" ng-model="inschrijving.persoonTenLaste.aansluitingsNummer"/>
      </div>
      <div class="form-group">
        <label for="code_gerechtigde">Code gerechtigde</label>
        <input type="text" id="code_gerechtigde" name="code_gerechtigde" ng-model="inschrijving.persoonTenLaste.codeGerechtigde"/>
      </div>
      <div class="form-group">
        <label for="aansluitingsnummer2">Aansluitingsnummer 2e ouder</label>
        <input type="text" id="aansluitingsnummer2" name="aansluitingsnummer2" ng-model="inschrijving.tweedeOuder.aansluitingsNummer"/>
      </div>

      <div class="form-group next-step-button">
        <input type="submit" wz-next value="Volgende" class="btn btn-blue"/>
        <button ng-click="fillDummyData()" class="btn btn-gray" style="float:left;">dummy data</button>
      </div>
    </wz-step>

    <wz-step title="2. Betaling" class="wz-step">
      <h1>Gegevens betalende ouder</h1>

      <div class="form-group">
        <label for="ouder_rijksregisternummer">Rijksregisternummer</label>
        <input type="text" id="ouder_rijksregisternummer" name="ouder_rijksregisternummer" ng-model="inschrijving.betalendeOuder.rijksregisterNummer"/>
      </div>
      <div class="form-group">
        <label for="ouder_voornaam">Voornaam</label>
        <input type="text" id="ouder_voornaam" name="ouder_voornaam" ng-model="inschrijving.betalendeOuder.voornaam"/>
      </div>
      <div class="form-group">
        <label for="ouder_naam">Naam</label>
        <input type="text" id="ouder_naam" name="ouder_naam" ng-model="inschrijving.betalendeOuder.naam"/>
      </div>
      <div class="form-group">
        <label for="ouder_straat">Straat</label>
        <input type="text" id="ouder_straat" name="ouder_straat" ng-model="inschrijving.betalendeOuder.straat"/>
      </div>
      <div class="form-group">
        <label for="ouder_huisnummer">Huisnummer</label>
        <input type="text" id="ouder_huisnummer" name="ouder_huisnummer" ng-model="inschrijving.betalendeOuder.huisnummer"/>
      </div>
      <div class="form-group">
        <label for="ouder_bus">Bus</label>
        <input type="text" id="ouder_bus" name="ouder_bus" ng-model="inschrijving.betalendeOuder.bus"/>
      </div>
      <div class="form-group">
        <label for="ouder_gemeente">Gemeente</label>
        <input type="text" id="ouder_gemeente" name="ouder_gemeente" ng-model="inschrijving.betalendeOuder.gemeente"/>
      </div>
      <div class="form-group">
        <label for="ouder_postcode">Postcode</label>
        <input type="text" id="ouder_postcode" name="ouder_postcode" ng-model="inschrijving.betalendeOuder.postcode"/>
      </div>
      <div class="form-group">
        <label for="ouder_telefoon">Telefoon of GSM nummer</label>
        <input type="text" id="ouder_telefoon" name="ouder_telefoon" ng-model="inschrijving.betalendeOuder.telefoonNummer"/>
      </div>

      <div class="form-group next-step-button">
        <input type="submit" wz-next value="Volgende" class="btn btn-blue"/>
      </div>
    </wz-step>

    <wz-step title="3. Gegevens deelnemer" class="wz-step">
      <h1>Gegevens deelnemer</h1>

      <div class="form-group">
        <label for="rijksregisternummer">Rijksregisternummer</label>
        <input type="text" id="rijksregisternummer" name="rijksregisternummer" ng-model="inschrijving.rijksregisterNummer"/>
      </div>
      <div class="form-group">
        <label for="voornaam">Voornaam</label>
        <input type="text" id="voornaam" name="voornaam" ng-model="inschrijving.voornaam"/>
      </div>
      <div class="form-group">
        <label for="naam">Naam</label>
        <input type="text" id="naam" name="naam" ng-model="inschrijving.naam"/>
      </div>
      <div class="form-group">
        <label for="geboortedatum">Geboortedatum</label>
        <input type="date" id="geboortedatum" name="geboortedatum" ng-model="inschrijving.geboorteDatum"/>
      </div>

      <h3>Adres</h3>
      <div class="form-group next-step-button">
        <input type="checkbox" name="adres_zelfde" id="adres_zelfde" ng-model="adres_zelfde" ng-change="methods.adresZelfdeAlsOuder(adres_zelfde)">Is het adres van de deelnemer hetzelfde als dat van de betalende ouder?
      </div>

      <div ng-hide="adres_zelfde">
        <div class="form-group">
          <label for="straat">Straat</label>
          <input type="text" id="straat" name="straat" ng-model="inschrijving.adresDeelnemer.straat"/>
        </div>
        <div class="form-group">
          <label for="huisnummer">Huisnummer</label>
          <input type="text" id="huisnummer" name="huisnummer" ng-model="inschrijving.adresDeelnemer.huisnummer"/>
        </div>
        <div class="form-group">
          <label for="bus">Bus</label>
          <input type="text" id="bus" name="bus" ng-model="inschrijving.adresDeelnemer.bus"/>
        </div>
        <div class="form-group">
          <label for="gemeente">Gemeente</label>
          <input type="text" id="gemeente" name="gemeente" ng-model="inschrijving.adresDeelnemer.gemeente"/>
        </div>
        <div class="form-group">
          <label for="postcode">Postcode</label>
          <input type="text" id="postcode" name="postcode" ng-model="inschrijving.adresDeelnemer.postcode"/>
        </div>
        <div class="form-group">
          <label for="telefoon">Telefoon of GSM nummer</label>
          <input type="text" id="telefoon" name="telefoon" ng-model="inschrijving.adresDeelnemer.telefoonNummer"/>
        </div>
        <div class="form-group next-step-button">
          <input type="submit" wz-next value="Volgende" class="btn btn-blue"/>
        </div>
      </div>
    </wz-step>

    <wz-step title="4. Contactpersoon" class="wz-step">
      <h1>Contactpersoon</h1>
      <!--<div class="form-group">-->
        <!--<input type="checkbox" name="contactpersoon_zelfde" id="contactpersoon_zelfde" ng-model="contactpersoon_zelfde" ng-change="methods.contactpersoonZelfdeOuder(contactpersoon_zelfde)">Is de contacpersoon ook de betalende ouder?-->
      <!--</div>-->

      <div ng-hide="contactpersoon_zelfde" class="animate-hide" style="margin-bottom:10px;">
       <div class="form-group">
          <label for="contactpersoon_rijksregisternummer">Rijksregisternummer</label>
          <input type="text" id="contactpersoon_rijksregisternummer" name="contactpersoon_rijksregisternummer" ng-model="inschrijving.contactPersoon[0].rijksregisterNummer"/>
        </div>
        <div class="form-group">
          <label for="contactpersoon_voornaam">Voornaam</label>
          <input type="text" id="contactpersoon_voornaam" name="contactpersoon_voornaam" ng-model="inschrijving.contactPersoon[0].voornaam"/>
        </div>
        <div class="form-group">
          <label for="contactpersoon_naam">Naam</label>
          <input type="text" id="contactpersoon_naam" name="contactpersoon_naam" ng-model="inschrijving.contactPersoon[0].naam"/>
        </div>
        <div class="form-group">
          <label for="contactpersoon_straat">Straat</label>
          <input type="text" id="contactpersoon_straat" name="contactpersoon_straat" ng-model="inschrijving.contactPersoon[0].straat"/>
        </div>
        <div class="form-group">
          <label for="contactpersoon_huisnummer">Huisnummer</label>
          <input type="text" id="contactpersoon_huisnummer" name="contactpersoon_huisnummer" ng-model="inschrijving.contactPersoon[0].huisnummer">
        </div>
        <div class="form-group">
          <label for="contactpersoon_bus">Bus</label>
          <input type="text" id="contactpersoon_bus" name="contactpersoon_bus" ng-model="inschrijving.contactPersoon[0].bus"/>
        </div>
        <div class="form-group">
          <label for="contactpersoon_gemeente">Gemeente</label>
          <input type="text" id="contactpersoon_gemeente" name="contactpersoon_gemeente" ng-model="inschrijving.contactPersoon[0].gemeente"/>
        </div>
        <div class="form-group">
          <label for="contactpersoon_postcode">Postcode</label>
          <input type="text" id="contactpersoon_postcode" name="contactpersoon_postcode" ng-model="inschrijving.contactPersoon[0].postcode"/>
        </div>
        <div class="form-group">
          <label for="contactpersoon_telefoon">Telefoon of GSM nummer</label>
          <input type="text" id="contactpersoon_telefoon" name="contactpersoon_telefoon" ng-model="inschrijving.contactPersoon[0].telefoonNummer"/>
        </div>
      </div>

      <div class="form-group next-step-button">
        <input type="submit" wz-next value="Volgende" class="btn btn-blue"/>
      </div>

    </wz-step>

    <wz-step title="5. Noodpersonen" class="wz-step">
      <h1>Noodpersonen</h1>

      <div class="form-group">
        <label for="noodpersoon_voornaam">Voornaam</label>
        <input type="text" id="noodpersoon_voornaam" name="noodpersoon_voornaam"/>
      </div>
      <div class="form-group">
        <label for="noodpersoon_naam">Naam</label>
        <input type="text" id="noodpersoon_naam" name="noodpersoon_naam"/>
      </div>
      <div class="form-group">
        <label for="noodpersoon_telefoon">Telefoon of GSM nummer</label>
        <input type="text" id="noodpersoon_telefoon" name="noodpersoon_telefoon"/>
      </div>

      <h3>Eventueel 2e persoon</h3>
      <div class="form-group">
        <label for="noodpersoon2_voornaam">Voornaam</label>
        <input type="text" id="noodpersoon2_voornaam" name="noodpersoon2_voornaam"/>
      </div>
      <div class="form-group">
        <label for="noodpersoon2_naam">Naam</label>
        <input type="text" id="noodpersoon2_naam" name="noodpersoon2_naam"/>
      </div>
      <div class="form-group">
        <label for="noodpersoon_telefoon">Telefoon of GSM nummer</label>
        <input type="text" id="noodpersoon2_telefoon" name="noodpersoon2_telefoon"/>
      </div>

      <div class="form-group next-step-button">
        <input type="submit" wz-next value="Volgende" class="btn btn-blue"/>
      </div>
    </wz-step>

    <wz-step title="6. Finaliseer" class="wz-step">
      <div class="form-group">
        <label for="extra_informatie">Extra informatie</label>
        <textarea id="extra_informatie" name="extra_informatie" cols="20" rows="5" ng-model="inschrijving.extra_informatie"></textarea>
      </div>

      <div class="form-group next-step-button">
        <input type="submit" wz-next="setMode(true)" ng-click="methods.createInschrijving()" Value="Voltooi inschrijving" class="btn btn-green"/>
      </div>
    </wz-step>
  </wizard>
</div>
