<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="groep9.hogent.be.android" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Inloggen.LoginActivity"/>
        <activity android:name=".Inloggen.LoginEmailActivity" />
        <activity android:name=".Nieuws_Bekijken.NieuwsActivity" />
        <activity android:name=".Registreren.RegistrerenActivity" />
        <activity android:name=".Vakantie_Weergeven.VakantieWeergevenActivity" />
        <activity android:name=".Joetz_Contacteren.JoetzContacterenActivity" />
        <activity android:name=".Profile.ProfileActivity" />
        <activity android:name=".Settings.SettingsActivity" />
        <activity android:name=".Bekijken_Activiteiten.BekijkenActiviteitenActivity" />
        <activity android:name=".Registreren.RegistrerenOptionalActivity" />
    </application>

</manifest>
