@import 'http://fonts.googleapis.com/css?family=Oswald:400,700';
@import 'http://fonts.googleapis.com/css?family=Open+Sans:400,800,300';

$yellow: #E5E333;
$primary-color:white;
$blue: #338DE5;
$red: #e53341;
$white: white;
$gray: #BBBBBB;
$green: #89E533;
$orange: #E58433;
$purple: #8233E5;
$black: black;

// breakpoints and tweakpoints
// it's better to have em breakpoints, you shouldn't focus on popular devices but ALL devices
// tweakpoints:
$bp-small : 20em; //(320px)
$bp-small-2 : 30em; //(480px)
$bp-small-3 : 37.5em; //(600px)
$bp-med : 48em; //(768px)
$bp-med-2 : 56.25em; //(900px)
$bp-large : 63.75em; //(1020px)
$bp-large-2 : 81.25em; //(1300px)

$wrapper: $bp-large;
$nav-height: 100px;
