@mixin buttonColor($background, $border, $color) {
    background: $background;
    border-color: $border;
    &:hover {
        color:$color;
    }
}
.btn {
    border: 2px solid $gray;
    color: $white;
    padding:10px 15px;
    background:$gray;
    display:inline-block;
    font-size:10pt;
    border-radius:5px;
    line-height: 15px;
    cursor:pointer;
    box-sizing: border-box;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;

    &:hover {
        background-color: transparent;
        color: rgb(47, 47, 47);
    }

    &:focus {
        outline:0;
    }
}

.btn-green {
    @include buttonColor($green, $green, $green);
}
.btn-red {
    @include buttonColor($red, $red, $red);
}
.btn-orange {
    @include buttonColor($orange, $orange, $orange);
}
.btn-purple {
    @include buttonColor($purple, $purple, $purple);
}
.btn-blue {
    @include buttonColor($blue, $blue, $blue);
}
.btn-yellow {
    @include buttonColor($yellow, $yellow, $yellow);
}

.season {
  width:32px;
  height:32px;
  background:url('/assets/images/icons/seasons/seasons-sprite.png');
  background-size: 128px 64px;
  text-indent: -99999px;
  border:none;
  outline:none;

  &:focus {
    outline:none;
  }

  &:hover, &.active {
    background-position-y: 32px;
    cursor:pointer;
  }

  &.season-winter {
    background-position-x: 0px;
  }
  &.season-winter {
    background-position-x: -32px;
  }
  &.season-lente {
    background-position-x: -64px;
  }
  &.season-zomer {
    background-position-x: -96px;
  }
}

.btn-group-justified {

  ul {
    padding:0;
    margin:0;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    li {
      display: table-cell;
      float: none;
      width: 1%;

      a, button, .btn {
        width: 100%;
        text-align:center;
      }

      & + li {
        padding-left: 5px;
      }

      &:first-child {
        padding-right:5px;
      }
    }
  }

}
