#board{
  height: 100%;
}

#specialbuttons{
  margin:0;
  padding:0;
  padding-top: 20px;
}

#specialbuttons li{
  list-style: none;
  display:inline-block;
}

#specialbuttons li a:link, #specialbuttons li a:visited{
  height:100px;
  width:100px;
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  border-radius: 5px;
  border: 3px solid $red;
  border-radius: 5px;
  color: $red;
  padding: 10px;
}

#specialbuttons li a:hover{
  background:$red;
  color:white;
}
