.doelgroepen {

  padding:0;
  margin:0;
  color:white;
  font-weight: bold;

  &.filter {
    display: block;
    & > li {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor:pointer;
      margin-bottom:3px;

      -webkit-transition: background 250ms;
      -moz-transition: background 250ms;
      -ms-transition: background 250ms;
      -o-transition: background 250ms;
      transition: background 250ms;
    }
  }
  @media all and (min-width: $bp-med) {
    &.filter {
      float:right;
    }
  }


  & > li {
    list-style: none;
    display: inline-block;
    padding: 5px 2px;
    font-size: 11pt;
    border-radius: 30px;
    text-align: center;
    min-width: 24px;
    background-color:rgb(210, 210, 210);

    &:after {
      content: "j";
    }

    & + li {
      margin-left:3px;
    }
  }

  .doelgroep-3 { background-color: #791d7e; }
  .doelgroep-4 { background-color: #b93092; }
  .doelgroep-5 { background-color: #e20177; }
  .doelgroep-6 { background-color: #ed174f; }
  .doelgroep-7 { background-color: #ee3424; }
  .doelgroep-8 { background-color: #f15d22; }
  .doelgroep-9 { background-color: #f8981d; }
  .doelgroep-10 { background-color: rgb(255, 210, 0); }
  .doelgroep-11 { background-color: rgb(212, 209, 15); }
  .doelgroep-12 { background-color: rgb(120, 162, 47); }
  .doelgroep-13 { background-color: rgb(0, 161, 96); }
  .doelgroep-14 { background-color: rgb(35, 188, 185); }
  .doelgroep-15 { background-color: #41c4dc; }
  .doelgroep-16 { background-color: #0092cf; }
  .doelgroep-17 { background-color: #0067b1; }
  .doelgroep-18 { background-color: #1c3f94; }

}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Slideshow style */
.splash {
  position: fixed;
  background: rgba(0,0,0,0.85);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 500;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  transition: opacity 0.5s, visibility 0s 0.5s;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
}

.splash-open.splash {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.splash .splash-inner {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate3d(0,0,150px);
  transform: translate3d(0,0,150px);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}


.splash-open.splash .splash-inner {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.splash .splash-content {
  width: 660px;
  height: 350px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin: -175px 0 0 -330px;
  color: #fff;
  font-size: 18px;
}

.splash-content h1 {
  color: #fff;
  margin-bottom: 40px;
}


.btn-outline {
  margin-top: 40px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 2px;
  background-color: transparent;
  width: 250px;
  font-weight: 300;
}
.btn-outline:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.05);
}
