.doelgroep {

  color:white;
  font-weight: bold;

  & > span {
    padding: 5px 7px;
    border-radius:20px;
    text-align:center;
  }

  .doelgroep-3 {}
  .doelgroep-4 {}
  .doelgroep-5 {}
  .doelgroep-6 {}
  .doelgroep-7 {}
  .doelgroep-8 {}
  .doelgroep-9 {}
  .doelgroep-10 { background-color: rgb(255, 210, 0); }
  .doelgroep-11 { background-color: rgb(212, 209, 15); }
  .doelgroep-12 { background-color: rgb(120, 162, 47); }
  .doelgroep-13 { background-color: rgb(0, 161, 96); }
  .doelgroep-14 { background-color: rgb(35, 188, 185); }
  .doelgroep-15 { background-color: #41c4dc; }
  .doelgroep-16 { background-color: #0092cf; }
  .doelgroep-17 { background-color: #0067b1; }
  .doelgroep-18 { background-color: #1c3f94; }

}
