.wizard {

  .next-step-button {
    text-align:right;
  }

  .steps-indicator {
    padding: 0;
    text-align:center;
    li {
      display: inline-block;
      list-style: none;

      a {
        padding: 10px;
        border-radius: 5px;
        background: $gray;
        color: white;
        &:hover {
          cursor: pointer;
        }
      }

      & + li {
        margin-left: 10px;
      }

      &.current {
        a {
          background-color: $red;
        }
      }
    }
  }
}
