#test{
  display: block;
}

#sidepanel {
  float: left;
  width: 25%;
  border: 1px solid;

}

#details {
  float: right;
  width: 70%;
  border: 1px solid;

}

ul{
  list-style-type: none;
}

#inschrijven{
  float: right;
}