.kamp {
  .kamp-naam {
    background: #e53341;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    text-align: center;
  }

  .kamp-periode {
    th {
      text-align: left;
      text-transform: uppercase;
      font-size: 10pt;
      color: rgb(69, 69, 69);
    }
  }

  #period{
    margin-left: 15%;
  }

  .kamp-doelgroep {
    text-align: center;
  }
}

#block{
  display: block;
  padding-bottom: 65%;
  vertical-align: middle;
}

#beschrijving{
  font-size: 12pt;
}

#sidepanel {
  float: left;
  width: 25%;
}

#images{
  text-align: center;
}

#details {
  float: right;
  width: 70%;
}

.opsomming{
  list-style-type: circle;
}

#inschrijven{
  float: right;
}
