.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;

  .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
  }
}

#vakanties {
  &:after {
    @include clearfix();
  }
}

.vakanties-seizoen-container {
  width:100%;
  .vakanties-seizoen {
    width: 100%;
    max-height:200px;
    height: 100%;
  }
}

@media all and (min-width: $bp-med) {

  .isotope {
    .isotope-item {
      float: left;
      //margin: 0 5px 10px;
      max-height: 202px;
      width: 33.3333333%;
      box-sizing: border-box;
      position: relative;
      padding: 0 5px 10px;
    }
  }

  .vakanties-seizoen-container {
    box-sizing: border-box;
    height:270px;

    .vakanties-seizoen {
      background:no-repeat;
      background-size: cover;
      background-position: center center;
      position:relative;
      transition: all .2s ease-in-out;
      margin: 0;
      width: 100%;
      max-height:100%;
      height: 100%;
    }
  }

  .vakantie-big {
    height:470px;
    width:70%;
    float:left;
    padding: 5px;
    margin-bottom:5px;
  }

  .vakantie-aside {
    .vakanties-seizoen-container {
      width:30%;
      float:left;
      height: 235px;
      padding: 0px 6px 5px 6px;
    }
  }
}


/*#vakanties {
  width:$wrapper + 0.65;
  padding:0;
  margin-left: -0.3em;

  .vakanties-seizoen {
    background:black;
    height:470px;
    background:no-repeat;
    background-size: cover;
    background-position: center center;
    position:relative;
    transition: all .2s ease-in-out;
    margin: 0;

    .doelgroep {
      position:absolute;
      bottom: 15px;
      right: 15px;
    }

    h2 {
      font-family: 'Raleway', Arial, sans-serif;
      word-spacing: -0.15em;
      color: white;
      text-shadow: 1px 1px 0px rgb(73, 73, 73);
      font-size: 26pt;
      position: relative;
      top: 20px;
      left: 20px;
    }
  }

  .vakanties-seizoen-container{
    width:70%;
    float:left;
  }
  aside, #vakanties-lijst {
    .vakanties-seizoen {
      height:100%;
      width: 100%;

      h2 {
        text-align: center;
        top: 22px;
        left:0;
      }
    }
    .vakanties-seizoen-container{
      width:33.333333%;
      box-sizing: border-box;
      height:270px;
    }
  }
  &:after {
    @include clearfix();
  }
}*/

#vakanties-lijst {
  position: relative;
}

#vakanties-andere {
  padding:0;
}

#promoafb {
  float: left;
}
#kamptekst {
 margin-left: 225px;

}
input{
 width:99%;
 border-radius: 5px;
 border: 1px;
 border-style: solid;
 border-color: #A8A8A8;
 padding: 10px 0px 10px 10px;
}

::-webkit-input-placeholder {
 font-family: "ansonregular", sans-serif;
 font-size: 12pt;
}


section {
  position: relative;
  padding: 20px;

  .article-holder {
    margin: 0 15px;
    margin-bottom: 15px;
  }
  h2 {
    font-family: "ansonregular", sans-serif;
    font-size: 20pt;
    margin: 0;

    a {
      color: black;

      &:hover {
        color: $red;
      }
    }
  }
  .subtitle {
    margin: 0;
    font-size: 10pt;
    display: block;
  }
  p {
    font-size: 10pt;
    text-align: justify;
  }
  #leftside {
    float: left;
    border: solid;
    border-width: thin;
    width: 25%;
    height: 200px;

  }

  #rightside {
    float: right;

  }

  #buttonheading {
    top:0;
    width: 100%;
    border: solid thin;
    margin-bottom: 20px;
  }
}


@media all and (min-width: $bp-large) {
  time.icon {
    font-size: 10pt;
    display: block;
    position: relative;
    width: 4em;
    height: 5em;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0px rgb(82, 82, 82);
    float: left;
    position: absolute;
    left: -39px;

    * {
      display: block;
      width: 100%;
      font-size: 1em;
      font-weight: bold;
      font-style: normal;
      text-align: center;
    }

    strong {
      position: absolute;
      top: 0;
      padding: 0.4em 0;
      color: #fff;
      background-color: $red;
    }

    em {
      position: absolute;
      bottom: 0.3em;
      color: $red
    }

    span {
      font-size: 18pt;
      letter-spacing: -0.05em;
      padding-top: 0.8em;
      color: #2f2f2f;
      margin-top: 10px;
    }
  }
}
